<!DOCTYPE html>
<html>
<head>
  <title>Synaptizen</title>
  <%= stylesheet_link_tag "synaptizen_admin.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">Admin</div>
<div id="contents">
<%= yield %>
</div>

</body>
</html>
